@model IEnumerable<WOTAPI.Models.Chapter.ChapterListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<hr />


<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.ChapterId)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.BookId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChapNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChapTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageCount)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.ChapterId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChapNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChapTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageCount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ChapterId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ChapterId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ChapterId })
            </td>
        </tr>
    }

</table>
