@model WOTAPI.Models.Book.BookDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Chapters)
        </dt>
        <dd>
            @Html.DropDownList("ChapterId", null, htmlAttributes: new { @class = "form-control" })
        </dd>
        @*<div class="form-group">
            @Html.LabelFor(model => model.Chapters, "ChapterId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ChapterId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Chapters, "", new { @class = "text-danger" })
            </div>
        </div>*@
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
